<template>
  <div>
    <div class="mb-3">
      <label for="number" class="form-label">¿Cuál es tu numero teléfonico?</label>
      <vue-tel-input
        @country-changed="getDialCode"
        @validate="isValid"
        :inputClasses="['form-control']"
        :preferredCountries="['CO']"
        inputId="number"
        placeholder="Ingrese un numero telefonico"
        validCharactersOnly
        v-model.trim="phone"
      />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Escribe tu mensaje personalizado:</label>
      <input
        class="form-control"
        id="message"
        placeholder="Hola, ¿Puedes Ayudarme?"
        type="text"
        v-model="message"
      />
    </div>
    <div class="mb-3" v-if="show">
      <label for="url" class="form-label">Aquí tienes tu enlace:</label>
      <div class="input-group">
        <button type="button" class="btn btn-outline-primary" @click.prevent="copyUrl">
          <font-awesome-icon :icon="['far', 'copy']" /> Copiar Link
        </button>
        <input id="url" class="form-control" type="text" :value="setUrl" readonly />
      </div>
    </div>
    <button class="btn btn-primary" @click="showUrl">Generar enlace</button>
  </div>
</template>

<script>
import { VueTelInput } from 'vue-tel-input';

export default {
  components: {
    VueTelInput
  },
  data() {
    return {
      dialCode: '',
      message: '',
      phone: '',
      isValidNumber: false,
      show: false
    };
  },
  computed: {
    setUrl() {
      const phone = this.phone.replace(/\s+/g, '');
      const message = this.message.replace(/\s+/g, '%20');
      return `https://wa.me/${this.dialCode}${phone}${message && `?text=${message}`}`;
    }
  },
  methods: {
    getDialCode({ dialCode }) {
      this.dialCode = dialCode;
    },
    isValid({ isValid }) {
      this.isValidNumber = isValid;
    },
    showUrl() {
      if (!this.phone || !this.isValidNumber) {
        toastr.warning('Escriba un numero telefonico valido');
        return;
      } else {
        this.show = true;
      }
    },
    copyUrl() {
      document.querySelector('#url').select();
      document.execCommand('copy');
      toastr.success('Copiado');
    }
  }
};
</script>
