@font-face {
  font-family: 'EvelethCleanThin';
  src: local('EvelethCleanThin'), local('Eveleth Clean Thin'), local('Eveleth-Clean-thin'),
    url('https://res.cloudinary.com/maikolsounds/raw/upload/v1592685760/dinolabs/fonts/EvelethCleanThin.woff')
      format('woff'),
    url('https://res.cloudinary.com/maikolsounds/raw/upload/v1592683120/dinolabs/fonts/EvelethCleanThin.otf')
      format('opentype');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'EvelethCleanRegular';
  src: local('EvelethCleanRegular'), local('Eveleth Clean Regular'), local('Eveleth-Clean-Regular'),
    url('https://res.cloudinary.com/maikolsounds/raw/upload/v1592685761/dinolabs/fonts/EvelethCleanRegular.woff')
      format('woff'),
    url('https://res.cloudinary.com/maikolsounds/raw/upload/v1592683118/dinolabs/fonts/EvelethCleanRegular.otf')
      format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

.ff-bold {
  font-family: 'EvelethCleanRegular', sans-serif;
}

.ff-thin {
  font-family: 'EvelethCleanThin', sans-serif;
}
