@import 'fonts';
@import 'custom';
@import '~bootstrap/scss/bootstrap';

body {
  @include media-breakpoint-down(md) {
    background-image: url('https://res.cloudinary.com/maikolsounds/image/upload/dpr_auto,q_auto,f_auto,w_auto/v1592672019/dinolabs/cloud');
    background-repeat: no-repeat;
    background-position-x: 1%;
    background-position-y: -20%;
  }
}
